<article class="grid">
  <div>
    <hgroup>
      <h1>Task Management</h1>
      <h2>A simple task management made with Angular</h2>
    </hgroup>
    <form [formGroup]="userFormGroup">
      <input
        type="text"
        name="name"
        formControlName="name"
        placeholder="Workspace name"
      />
      <input
        type="password"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <ng-container *ngIf="workpaceExists$ | async as workspace"></ng-container>
      <ng-container *ngIf="workpaceExists else noExists">
        <button type="submit" class="contrast" (click)="accessWorkspace()">Access Workspace</button>
      </ng-container>
      <ng-template #noExists>
        <button type="submit" class="contrast" (click)="createWorkspace()">Create Workspace</button>
      </ng-template>
    </form>
  </div>
  <div></div>
</article>

<ul style="max-height: 100px; overflow: auto" ngSignalVirtualScroll>
  <li *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
    {{ item }}
  </li>
</ul>
